.rounded-image{
    clear: both;
    margin: auto;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
}

.user-info{
    width: 100%;
    position: absolute;
    top: 55px;
    background: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 35px;
}
.user-image{
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.description{
    padding-left: 4px !important;
    padding-right: 4px !important;
}
form{
    ion-label, ion-select, ion-input{
        font-size: 12px;
    }
}
ion-card{
    //border: 1px solid var(--ion-color-medium-shade);
}