<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button size="small">
          <ion-icon slot="start" name="clipboard"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Booking Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-img class="" src="../../assets/img/booked-top-tick.png"></ion-img>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

  <p class="tac">Thnaks you for Booking! for further details, click on the Appointment details</p>
  <ion-img class="stick-to-bottom" src="../../assets/img/booked-bottom.png"></ion-img>
</ion-content>

<ion-footer class="footer" color="primary">
    <ion-toolbar color="primary">
      <ion-button expand="full" color="primary" class="footer-buttons-full" size="large">Appointment details <ion-icon name="arrow-round-forward"></ion-icon></ion-button>
    </ion-toolbar>
</ion-footer>