<ion-content color="primary">
  <ion-slides pager="true" options="slideOpts">
    <ion-slide>
        <ion-card class="ion-no-padding ion-no-margin extra-margin">
          <ion-card-content text-center>
              <ion-img src="/assets/img/intro-slider-1.PNG"></ion-img>
              <ion-label class="ion-margin-top ion-margin-bottom" color="light">
                Looking for Special doctors of popular Hospital ? Book a appointemnt in a click
              </ion-label>
          </ion-card-content>
        </ion-card>
      
    </ion-slide>
    <ion-slide>
        <ion-card class="ion-no-padding ion-no-margin extra-margin">
          <ion-card-content text-center>
              <ion-img src="/assets/img/intro-slider-2.PNG"></ion-img>
              <ion-label class="ion-margin-top ion-margin-bottom" color="light">
                Looking for Special doctors of popular Hospital ? Book a appointemnt in a click
              </ion-label>
          </ion-card-content>
        </ion-card>
      
    </ion-slide>
    <ion-slide>
        <ion-card class="ion-no-padding ion-no-margin extra-margin">
          <ion-card-content text-center>
              <ion-img src="/assets/img/intro-slider-3.PNG"></ion-img>
              <ion-label class="ion-margin-top ion-margin-bottom" color="light">
                Looking for Special doctors of popular Hospital ? Book a appointemnt in a click
              </ion-label>
          </ion-card-content>
        </ion-card>
      
    </ion-slide>
    <ion-slide>
        <ion-card class="ion-no-padding ion-no-margin extra-margin">
          <ion-card-content text-center>
              <ion-img src="/assets/img/intro-slider-4.PNG"></ion-img>
              <p><ion-label class="ion-margin-top ion-margin-bottom" color="light">
                Looking for Special doctors of popular Hospital ? Book a appointemnt in a click
              </ion-label></p>
              <ion-button href="/login" color="light" fill="solid" size="large" class="ion-margin-top ion-margin-bottom">
                <ion-icon slot="start" name="add"></ion-icon>
                Get Started
              </ion-button>
          </ion-card-content>
        </ion-card>
      
    </ion-slide>
  </ion-slides>
</ion-content>