ion-slide{
    position: relative;
    height: 100%;
    .title {
        font-size: 41px;
        font-weight: 300;
    }
    .subtitle {
        font-size: 21px;
    }
    .text {
        font-size: 14px;
        max-width: 400px;
        line-height: 1.3;
    }
    --bullet-background-active: white;
}
ion-card{
    --ion-color-dark-rgb: transparent !important;
}
ion-card.extra-margin{
    margin-top: 20%;
    margin-bottom: 20%;
}