<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button size="small">
            <ion-icon slot="start" name="clipboard"></ion-icon>
          </ion-button>
        </ion-buttons>
      <ion-title>Search Diagnostics</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content no-padding>
  <ion-toolbar color="primary">
      <ion-list lines="none" class="ion-no-margin ion-no-padding" >
          <ion-item color="primary">
            <ion-label>Select Location</ion-label>
            <ion-select value="bhubaneswar" okText="Okay" cancelText="Cancel">
                <ion-select-option value="bhubaneswar">Bhubaneswar</ion-select-option>
                <ion-select-option value="cuttack">Cuttack</ion-select-option>
                <ion-select-option value="berhampur">Berhampur</ion-select-option>
                <ion-select-option value="sambalpur">Sambalpur</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-list>
  </ion-toolbar>

  <ion-row class="bg-tint">
    <ion-col size="12" class="ion-padding-top ion-padding-bottom">
      <ion-label class="text-20 ion-margin-start bold" color="dark">Suggested Diagnostics</ion-label>
    </ion-col>
  </ion-row>

    <ion-list lines="full" class="ion-margin-top">
      <ion-item *ngFor="let list of [1,2,3,4,5]" class="ion-no-margin ion-no-padding">

        <ion-grid fixed>
          <ion-row>
            <ion-col size="4">
              <div>
                <img class="square-image" src="https://picsum.photos/100">
              </div>  
              <p class="ion-no-margin ion-no-padding text-12"> <img src="../../assets/img/offer-logo.png" alt="offer" class="offer vac"> 10% OFF Available</p>
            </ion-col>
            <ion-col size="8">
              <ion-card class="ion-no-margin ion-no-padding">
                  <ion-card-header class="ion-no-margin ion-no-padding">
                    <ion-card-title class="text-22">Divine Touch Medical Clinic</ion-card-title>
                    <ion-card-title class="text-14">Ramthakur sanga, Agartala, Tripura</ion-card-title>
                    <ion-card-title class="text-14"><span class="bold">45</span> Lab Tests are avialable</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="ion-no-margin ion-no-padding tar">
                    <ion-button (click)="onClick()" color="primary" fill="solid" class="rounded-border-25" size="default">
                      Book Test
                    </ion-button>
                  </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-content>