.date-slider{
    background: var(--ion-color-primary);
    color: var(--ion-color-light);

}
ion-slides{
    --ion-padding: 5px;
}
p.slider{
    margin: 1px!important;
}
.patient-list{
    margin-bottom: 5px !important;
}