<ion-header>
  <ion-toolbar color="primary" class="pd-toolbar">
    <ion-buttons slot="start">
      <ion-button href="/login" size="small">
        <ion-icon name="arrow-round-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>OTP Verification</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-label text-justify>The OTP sent to your mobile number +915566998844. Please enter the OTP in below section</ion-label>
<div class="spacer"></div>
<form>
  <ion-item lines="none">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <ion-input type="email" placeholder="X" maxlength="1" class="ion-padding-start ion-padding-end"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input type="email" placeholder="X" maxlength="1" class="ion-padding-start ion-padding-end"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input type="email" placeholder="X" maxlength="1" class="ion-padding-start ion-padding-end"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-input type="email" placeholder="X" maxlength="1" class="ion-padding-start ion-padding-end"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</form>
<div class="spacer"></div>
<ion-label>Not received OTP? <span class="hyperlink">Resend OTP</span></ion-label>
</ion-content>
