.t-style-1{
    font-size: 40px !important;
    font-weight: 700 !important;
}
.t-style-2{
    font-size: 25px !important;
}
.t-style-3{
    font-size: 20px !important;
    border-top: 1px solid #ccc;
}
.date-section{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-secondary-contrast);
}
ion-button.rounded-border{
    --border-radius: 15px !important;
}
.card-content-md{
    padding: 5px;
}